@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --bg-color: #80A7E3;
    --secundary-color: #5C85C3;
}

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body{
    background: var(--bg-color);
}

header{
   background-color: var(--secundary-color);
   height: 118px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

header img{
    padding-left: 60px;
    margin-right: 8px;
}

header .logo{
    display: flex;
    align-items: center;

}

header .logo h1{
    font-family: 'Nunito';
    font-weight: 600;
    color: #FFFFFF;
}


header .barra-pesquisa {
    display: flex;
    margin-right: 711px;
}

header .barra-pesquisa input{
    width: 252px;
    border: none;
    border-radius: 12px;
    letter-spacing: 1px;
    text-indent: 5px;
}



main{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap:wrap ;
}

.temperatura{
    border: solid 1px black;
    width: 916px;
    height: 396px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    border-radius: 52px;
    margin-left: 446px;
}

.temperatura button{
    width: 256px;
    height: 24px;
    border-radius: 12px;
    margin-top: 6px;
}



.infos{
    border: solid 1px black;
    width: 916px;
    height: 396px;
    display: flex;
    justify-content: center;
    gap: 157px;
    align-items: center;
    margin-top: 32px;
    border-radius: 52px;
    margin-left: 446px;
}

.qualidade-ar{
    width: 380px;
    border: solid 1px black;
    height: 330px;
    border-radius: 52px;
}

.min-max{
    width: 380px;
    border: solid 1px black;
    height: 330px;
    border-radius: 52px;
}

